language: python

python:
- "2.6"
- "2.7"
- "3.2"
- "3.3"
- "3.4"
- "pypy"

install:
  - pip install coveralls

script: nosetests --with-coverage --cover-package=twitter

after_success:
  - coveralls
  - pip install pep8 pyflakes
  - pep8 twitter/*.py
  - pyflakes twitter/*.py
  - pep8 tests/*.py
  - pyflakes tests/*.py

matrix:
  allow_failures:
    - python: "pypy"
